{% extends "base.html" %}
{% block titulo %}Fiscal{% endblock %}
{% block superior %}
FORMULARIO DE REGISTRO DE NUEVOS PROYECTOS
{% endblock %}
{% block contenido %}

  <div class="card shadow mb-4">
    <!-- creacion del container para la entrada de datos -->
    <div class="container p-2 my-2 border">
      <div class="row justify-content-center">
        <form action="{% url 'proy_Create' %}" method="POST">
          {% csrf_token %}
          
          <div class="row">
            <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Proyecto</label>
                <input type="text" class="text-uppercase form-control border-left-dark" name="nombre_proy" autofocus placeholder=""required>
            </div>
            <div class="col-sm-6">
            <label for="exampleFormControlInput1" class="form-label">Sistema de distribucion</label>
                <select  name="sitema" id="id_sistema"   class="form-control" required>
                    <option value="">-- sistema --</option>
                    {% for zona in zonas %}
                        {% if zona.estado_zon == 1 %}
                        <option value="{{ zona.id }}">{{ zona.nombre_fis }}</option>
                        {% endif %}    
                    {% endfor %}  
                </select>
            </div>
            <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Fiscal</label>
                    <select  name="fis_proy" id="inputfis_proy"   class="form-control" required>
                        <option value="">-- Fiscales C.R.E. --</option>
                        {% for fiscal in fiscales %}
                            {% if fiscal.estado_fis == 1 %}
                            <option value="{{ fiscal.id }} data-chained="{{  zona.id }}">{{ fiscal.nombre_fis }}</option>
                            {% endif %}    
                        {% endfor %}  
                    </select>
            </div>
            
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Grafo</label>
                <input type="text" class="form-control text-uppercase border-left-dark " name="grafo_proy" placeholder=""required>
            </div>
          </div> 
          
          <div class="row">
              <div class="col-md-6">
                  <label for="exampleFormControlInput1" class="form-label">Ubicacion/Zona</label>
                  <input type="text" class="form-control text-uppercase border-left-dark " name="ubicacion_proy" placeholder="">
              </div>
              <div class="col-md-6">
                  <label for="exampleFormControlInput1" class="form-label">Fecha de Recepcion de Proyecto</label>
                  <input type="date" class="form-control text-uppercase border-left-dark " name="fecha_recep_proy" placeholder=""required>
              </div>
          </div> 

          <div class="row">
              <div class="col-md-6">
                  <label for="exampleFormControlInput1" class="form-label">Fecha de Diseño</label>
                  <input type="date" class="form-control text-uppercase border-left-dark " name="fecha_diseñ_proy" placeholder=""required>
              </div>
              <div class="col-md-6">
                  <label for="exampleFormControlInput1" class="form-label">Fecha de Construccion</label>
                  <input type="date" class="form-control text-uppercase border-left-dark " name="fecha_const_proy" placeholder=""required>
              </div>
          </div> 
          
          <div class="row">
              <div class="col-md-12">
                  <label for="exampleFormControlInput1" class="form-label">Nota/Observacion</label>
                  <input type="text" class="form-control text-uppercase border-left-dark " name="nota_proy" placeholder="">
              </div>
              
          </div> 
          <br>
          
          <!-- creacion de los botones de registro -->
          <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary btn-sm " value="GUARDAR">
            </div>
            <div class="col-md-4">
              <input class="btn btn-danger btn-sm " type="reset" value="LIMPIAR">
            </div>
            <div class="col-md-4">
                  <a class="btn btn-dark btn-sm " href="{% url 'proyectos' %}">CANCELAR</a>
            </div>
            </div>
          
        </form>
      </div>
    </div>
    
  </div>
{% endblock %}
