{% extends "base.html" %}
{% block encabezadofor %} Formulario editar {% endblock %}
{% block contenido %}

  <div class="card shadow mb-4">
    <!-- creacion del container para la entrada de datos -->
    <div class="container p-2 my-2 border">
      <div class="row justify-content-center">
        <form action="{% url 'docActualizar' codigo.id %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12">
                <label for="exampleFormControlInput1" class="form-label">Documento</label>
                <input type="text" class="text-uppercase form-control" name="nombre_doc" value="{{codigo.nombre_doc}}" autofocus placeholder=""required>
            </div>
          </div>  
            <br>
          
          <!-- creacion de los botones de registro -->
          <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary btn-sm " value="GUARDAR">
            </div>
            
            <div class="col-md-6">
                  <a class="btn btn-dark btn-sm " href="{% url 'docLista' %}">CANCELAR</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
